@charset "UTF-8";
/*
    Các folder component và page tổ chức như react component folder
    Trong các file component.scss và page.scss thì import variable
    Trong filder style sẽ import base, components, page, template ...
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;400;600;700&family=Pacifico&family=Source+Sans+Pro:wght@200;400;600&family=Volkhov:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
}

.header-nav {
  background-color: #000000;
}
.header-nav a:hover {
  color: #e1b067;
}
.header-nav .header-right_cart i {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.header-nav .header-right_cart_count {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}
.header-nav .header-right_cart:hover i, .header-nav .header-right_cart:hover span {
  color: #e1b067;
}
.header-nav .header-right_text {
  font-size: 16px;
  font-weight: 300;
  color: #f6f6f6;
}
.header-nav .header-right #login {
  margin: 0 20px;
}
.header .header-menu ul li {
  position: relative;
  margin-right: 24px;
}
.header .header-menu ul li:hover a::after {
  opacity: 1;
  width: 100%;
}
.header .header-menu ul li:hover a {
  color: #e1b067;
}
.header .header-menu ul li a {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
.header .header-menu ul li a::after {
  content: "";
  bottom: 0;
  left: 0;
  background-color: #e1b067;
  height: 2px;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  width: 0;
}

.sticky {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .header .header-menu ul {
    background-color: #fff;
    margin-top: 20px;
  }
  .header .header-menu ul li {
    max-width: 80px;
  }
}
.footer {
  margin-top: 130px;
}
.footer .footer-group {
  background-color: #f8f8f8;
  padding: 20px 0;
}
.footer .footer-group .footer-item h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.footer .footer-group .footer-item ul {
  margin-top: 20px;
  padding-left: 0;
}
.footer .footer-group .footer-item ul li {
  list-style: none;
  margin-bottom: 5px;
}
.footer .footer-group .footer-item ul li a {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  transition: all 0.3s;
}
.footer .footer-group .footer-item ul li a:hover {
  color: #e1b067;
}
.footer .footer-group .footer-item ul .footer-item-text-red {
  color: #f50e0e;
}
.footer .footer-group .footer-bd {
  border-right: 1px solid #dedddc;
}
.footer .footer-bottom {
  background-color: #ececec;
}