@mixin text($fz, $fw, $c) {
    font-size: $fz;
    font-weight: $fw;
    color: $c;
  }
  
@mixin button($fz, $fw, $c, $p, $bg, $bg-hover, $c-hover, $tr) {
    @include text($fz, $fw, $c);
    padding: $p;
    background-color: $bg;
    transition: $tr;
    &:hover {
      background-color: $bg-hover;
      color: $c-hover;
    }
  }