//khai báo biến
//bg
$bg-c1-primary: #f5f5f5;
$bg-c2-primary: #f8f8f8;
$bg-c3-primary: #dedddc;
$bg-c4-primary: #d9d9d9;
$bg-c5-primary: #cccccc;
$bg-c6-primary: #ececec;
$bg-c1-secondary: #e1b067;
$bg-c2-secondary: #000000;
$bg-c3-secondary: #ae18e2;
$bg-c4-secondary: #f8b653;
$bg-c5-secondary: #ffda49;

$bg-none: transparent;

//text-color
$text-c1-dark: #000000;
$text-c2-dark: #140101;
$text-c3-dark: #1e1d1d;
$text-c4-dark: #cbc9c9;
$text-c1-light: #f7f7f7;
$text-c2-light: #ffffff;
$text-c3-light: #fffcfc;
$text-c4-light: #fff8f8;
$text-c5-light: #f6f6f6;
$text-c1-red: #f50e0e;
$text-c2-red: #fc0303;
$text-c1-green: #1ed90e;
$text-c1-yellow: #e1b067;

//text-size
$text-xs: 13px;
$text-base: 16px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 40px;

//font-weight
$text-thin: 200;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

//break points
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
